FrontEnd-ejb/src/conf/wsdl/localhost_8080/ReplicaManager-war/itemWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://items/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://items/">

<xs:element name="delete" type="tns:delete"/>

<xs:element name="deleteResponse" type="tns:deleteResponse"/>

<xs:element name="insert" type="tns:insert"/>

<xs:element name="insertResponse" type="tns:insertResponse"/>

<xs:element name="selectLive" type="tns:selectLive"/>

<xs:element name="selectLiveResponse" type="tns:selectLiveResponse"/>

<xs:element name="updateExpiringDate" type="tns:updateExpiringDate"/>

<xs:element name="updateExpiringDateResponse" type="tns:updateExpiringDateResponse"/>

<xs:element name="updatePrice" type="tns:updatePrice"/>

<xs:element name="updatePriceResponse" type="tns:updatePriceResponse"/>

<xs:element name="updateTitle" type="tns:updateTitle"/>

<xs:element name="updateTitleResponse" type="tns:updateTitleResponse"/>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updatePrice">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="price" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePriceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateTitle">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateTitleResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateExpiringDate">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="expiring_date" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateExpiringDateResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="insert">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:float"/>
<xs:element name="seller_id" type="xs:int"/>
<xs:element name="expiring_date" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="selectLive">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="selectLiveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>