FrontEnd-ejb/src/conf/wsdl/localhost_8080/ReplicaManager-war/itemWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://items/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://items/" name="itemWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://items/" schemaLocation="http://localhost:8080/ReplicaManager-war/itemWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<message name="updateExpiringDate">
<part name="parameters" element="tns:updateExpiringDate"/>
</message>
<message name="updateExpiringDateResponse">
<part name="parameters" element="tns:updateExpiringDateResponse"/>
</message>
<message name="selectLive">
<part name="parameters" element="tns:selectLive"/>
</message>
<message name="selectLiveResponse">
<part name="parameters" element="tns:selectLiveResponse"/>
</message>
<message name="updateTitle">
<part name="parameters" element="tns:updateTitle"/>
</message>
<message name="updateTitleResponse">
<part name="parameters" element="tns:updateTitleResponse"/>
</message>
<message name="updatePrice">
<part name="parameters" element="tns:updatePrice"/>
</message>
<message name="updatePriceResponse">
<part name="parameters" element="tns:updatePriceResponse"/>
</message>
<portType name="itemWebService">
<operation name="delete">
<input wsam:Action="http://items/itemWebService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://items/itemWebService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://items/itemWebService/insertRequest" message="tns:insert"/>
<output wsam:Action="http://items/itemWebService/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="updateExpiringDate">
<input wsam:Action="http://items/itemWebService/updateExpiringDateRequest" message="tns:updateExpiringDate"/>
<output wsam:Action="http://items/itemWebService/updateExpiringDateResponse" message="tns:updateExpiringDateResponse"/>
</operation>
<operation name="selectLive">
<input wsam:Action="http://items/itemWebService/selectLiveRequest" message="tns:selectLive"/>
<output wsam:Action="http://items/itemWebService/selectLiveResponse" message="tns:selectLiveResponse"/>
</operation>
<operation name="updateTitle">
<input wsam:Action="http://items/itemWebService/updateTitleRequest" message="tns:updateTitle"/>
<output wsam:Action="http://items/itemWebService/updateTitleResponse" message="tns:updateTitleResponse"/>
</operation>
<operation name="updatePrice">
<input wsam:Action="http://items/itemWebService/updatePriceRequest" message="tns:updatePrice"/>
<output wsam:Action="http://items/itemWebService/updatePriceResponse" message="tns:updatePriceResponse"/>
</operation>
</portType>
<binding name="itemWebServicePortBinding" type="tns:itemWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateExpiringDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectLive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="itemWebService">
<port name="itemWebServicePort" binding="tns:itemWebServicePortBinding">
<soap:address location="http://localhost:8080/ReplicaManager-war/itemWebService"/>
</port>
</service>
</definitions>