FrontEnd-ejb/src/conf/wsdl/localhost_8080/ReplicaManager-war/offerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://offer/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://offer/">

<xs:element name="getTransaction" type="tns:getTransaction"/>

<xs:element name="getTransactionResponse" type="tns:getTransactionResponse"/>

<xs:element name="offer" type="tns:offer"/>

<xs:element name="offerResponse" type="tns:offerResponse"/>

<xs:complexType name="getTransaction">
<xs:sequence>
<xs:element name="item_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="offer">
<xs:sequence>
<xs:element name="item_id" type="xs:int"/>
<xs:element name="requested_price" type="xs:float"/>
<xs:element name="user_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="offerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>